main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}

section{
  display:flex;
  flex-direction: row;
  height: 100%;
}

section .content{
  padding:1rem 3rem;
}

.hidden{
  display: none !important;
}
