header{
  display: flex;
  flex-direction: row;
  background-color: #2671bd;
  color: white;
  align-items: center;
  padding: 0 2rem;
}

.menu{
  display:flex;
  flex-direction: row;
  list-style: none;
}

.menu li{
  margin-right: 1rem;
  font-size: 14px;
}

.menu li a{
  color: white;
  text-decoration: none;
}

.menu li a:hover{
  color: #ccc;
}

#logo{
  font-weight: 600;
}

#sandwich{
  width: 1.7rem;
  height: auto;
  margin-right: 1rem;
}

#sandwich:hover{
  cursor: pointer;
  transition: ease-in-out 200ms 200ms;
  scale: 1.2;
}
