header{
  display: flex;
  flex-direction: row;
  background-color: #2671bd;
  color: white;
  align-items: center;
  padding: 0 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu{
  display:flex;
  flex-direction: row;
  list-style: none;
}

.menu li{
  margin-right: 1rem;
}

#logo{
  color: #79e8f9;
  font-weight: 600;
}
